In [421]:
import warnings
warnings.filterwarnings("ignore") #To avoid warnings.
import pandas as pd
import numpy as np

In [435]:
df = pd.read_csv("Top Indian Places to Visit.csv")
df

,Unnamed: 0,Zone,State,City,Name,Type,Establishment Year,time needed to visit in hrs,Google review rating,Entrance Fee in INR,Airport with 50km Radius,Weekly Off,Significance,DSLR Allowed,Number of google review in lakhs,Best Time to visit
0,0,Northern,Delhi,Delhi,India Gate,War Memorial,1921,0.5,4.6,0,Yes,NaN,Historical,Yes,2.60,Evening
1,1,Northern,Delhi,Delhi,Humayun's Tomb,Tomb,1572,2.0,4.5,30,Yes,NaN,Historical,Yes,0.40,Afternoon
2,2,Northern,Delhi,Delhi,Akshardham Temple,Temple,2005,5.0,4.6,60,Yes,NaN,Religious,No,0.40,Afternoon
3,3,Northern,Delhi,Delhi,Waste to Wonder Park,Theme Park,2019,2.0,4.1,50,Yes,Monday,Environmental,Yes,0.27,Evening
4,4,Northern,Delhi,Delhi,Jantar Mantar,Observatory,1724,2.0,4.2,15,Yes,NaN,Scientific,Yes,0.31,Morning
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,320,Western,Gujarat,Gandhinagar,Akshardham,Temple,1992,3.0,4.6,0,Yes,Monday,Religious,No,0.18,All
321,321,Central,Uttar Pradesh,Agra,Agra Fort,Fort,1565,2.0,4.5,40,Yes,NaN,Historical,Yes,1.30,Afternoon
322,322,Central,Madhya Pradesh,Bhopal,Madhya Pradesh Tribal Museum,Museum,2013,2.0,4.7,10,Yes,Monday,Cultural,Yes,0.15,All
323,323,Northern,Rajasthan,Jaipur,City Palace,Palace,1727,2.0,4.4,200,Yes,NaN,Historical,Yes,0.51,Morning
324,324,Northern,Rajasthan,Jaipur,Albert Hall Museum,Museum,1887,2.0,4.5,200,Yes,NaN,Historical,Yes,0.63,All

In [436]:
print(df.isnull().sum())

Unnamed: 0                            0
Zone                                  0
State                                 0
City                                  0
Name                                  0
Type                                  0
Establishment Year                    0
time needed to visit in hrs           0
Google review rating                  0
Entrance Fee in INR                   0
Airport with 50km Radius              0
Weekly Off                          293
Significance                          0
DSLR Allowed                          0
Number of google review in lakhs      0
Best Time to visit                    0
dtype: int64

In [437]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325 entries, 0 to 324
Data columns (total 16 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        325 non-null    int64
 1   Zone                              325 non-null    object
 2   State                             325 non-null    object
 3   City                              325 non-null    object
 4   Name                              325 non-null    object
 5   Type                              325 non-null    object
 6   Establishment Year                325 non-null    object
 7   time needed to visit in hrs       325 non-null    float64
 8   Google review rating              325 non-null    float64
 9   Entrance Fee in INR               325 non-null    int64
 10  Airport with 50km Radius          325 non-null    object
 11  Weekly Off                        32 non-null     object
 12  Significance                      325 non-null    object
 13  DSLR Allowed                      325 non-null    object
 14  Number of google review in lakhs  325 non-null    float64
 15  Best Time to visit                325 non-null    object
dtypes: float64(3), int64(2), object(11)
memory usage: 40.8+ KB

In [452]:
df = df[df['Entrance Fee in INR'] != 0]
df

,Unnamed: 0,Zone,State,City,Name,Type,Establishment Year,time needed to visit in hrs,Google review rating,Entrance Fee in INR,Airport with 50km Radius,Weekly Off,Significance,DSLR Allowed,Number of google review in lakhs,Best Time to visit
3,3,Northern,Delhi,Delhi,Waste to Wonder Park,Theme Park,2019,2.0,4.1,50,Yes,Monday,Environmental,Yes,0.270,Evening
12,12,Northern,Delhi,Delhi,National Gallery of Modern Art,Museum,1954,3.0,4.5,20,Yes,Monday,Artistic,Yes,0.080,All
13,13,Northern,Delhi,Delhi,National Zoological Park,Zoo,1959,3.0,4.1,80,Yes,Friday,Environmental,Yes,0.410,All
19,19,Western,Maharastra,Mumbai,Sanjay Gandhi National Park,National Park,1996,3.0,4.3,50,Yes,Monday,Wildlife,Yes,0.600,All
26,26,Western,Maharastra,Lonavala,Imagicaa,Amusement Park,2013,5.0,1.4,1149,No,Monday,Recreational,Yes,0.950,All
27,27,Southern,Karnataka,Bangalore,Bangalore Palace,Palace,1878,2.0,4.2,500,Yes,Monday,Historical,Yes,0.900,Morning
32,32,Southern,Telangana,Hyderabad,Charminar,Landmark,1591,1.0,4.5,25,Yes,Friday,Historical,Yes,2.100,Morning
42,42,Eastern,West Bengal,Kolkata,Victoria Memorial,Museum,1921,1.5,4.6,30,Yes,Monday,Historical,Yes,0.730,Morning
44,44,Eastern,West Bengal,Kolkata,Indian Museum,Museum,1814,2.0,4.6,50,Yes,Monday,Historical,Yes,0.180,Morning
70,70,Western,Gujarat,Vadodara,Laxmi Vilas Palace,Palace,1890,2.0,4.4,200,Yes,Monday,Historical,Yes,0.170,Afternoon
73,73,Western,Gujarat,Kevadia,Statue of Unity,Monument,2018,3.0,4.6,350,No,Monday,Historical,Yes,0.670,All
78,78,Western,Gujarat,Ahmedabad,Science City,Science,2002,7.0,4.4,500,Yes,Monday,Educational,Yes,0.110,All
109,109,Southern,Kerala,Kochi,Kerala Folklore Museum,Cultural,2009,1.5,4.4,100,Yes,Monday,Cultural,Yes,0.100,All
124,124,Western,Maharastra,Aurangabad,Ajanta Caves,Cave,200,3.0,4.6,30,Yes,Monday,Historical,Yes,0.210,Afternoon
131,131,Western,Maharastra,Lonavala,Karla Caves,Cave,200,1.5,4.4,25,Yes,Yes,Historical,Yes,0.270,Afternoon
135,135,Western,Maharashtra,Ajanta,Ellora Caves,Cave,600,3.0,4.7,30,Yes,Tuesday,Historical,Yes,0.490,Afternoon
181,181,Central,Uttar Pradesh,Agra,Taj Mahal,Mausoleum,1632,2.0,4.6,50,Yes,Friday,Historical,Yes,2.250,Morning
183,183,Central,Uttar Pradesh,Lucknow,Bara Imambara,Monument,1784,1.5,4.4,50,Yes,Monday,Historical,No,0.450,All
194,194,Central,Uttar Pradesh,Kanpur,Allen Forest Zoo,Zoo,1971,2.0,4.2,150,Yes,Monday,Wildlife,Yes,0.210,All
219,219,Eastern,West Bengal,Murshidabad,Hazarduari Palace,Palace,1837,1.5,4.5,10,Yes,Friday,Historical,Yes,0.180,Morning
223,223,Eastern,West Bengal,Cooch Behar,Cooch Behar Palace,Palace,1887,1.0,4.5,20,Yes,Friday,Historical,Yes,0.090,All
263,263,Southern,Andhra Pradesh,Visakhapatnam,Indira Gandhi Zoological Park,Zoo,1977,2.0,4.1,20,Yes,Monday,Wildlife,Yes,0.250,Afternoon
282,282,North Eastern,Tripura,Agartala,Ujjayanta Palace,Palace,1901,1.5,4.5,10,Yes,Monday,Historical,Yes,0.035,All
290,290,Southern,Andaman and Nicobar Islands,Port Blair,Cellular Jail,Landmark,1906,1.5,4.7,30,Yes,Monday,Historical,Yes,0.120,Afternoon
302,302,Northern,Haryana,Gurugram,Kingdom of Dreams,Entertainment,2010,3.0,4.4,1100,Yes,Monday,Entertainment,Yes,0.300,Afternoon
310,310,Eastern,Odisha,Bhubaneswar,Nandankanan Zoological Park,Zoo,1960,3.0,4.4,50,Yes,Monday,Wildlife,Yes,0.810,Afternoon
315,315,Central,Uttar Pradesh,Greater Noida,Buddh International Circuit,Race Track,2011,2.0,4.6,1500,Yes,Sunday,Sports,Yes,7.400,All
318,318,Northern,Delhi,New Delhi,Rail Museum,Museum,1977,2.0,4.4,50,Yes,Monday,Cultural,Yes,0.240,Morning
322,322,Central,Madhya Pradesh,Bhopal,Madhya Pradesh Tribal Museum,Museum,2013,2.0,4.7,10,Yes,Monday,Cultural,Yes,0.150,All

In [453]:
df = df.dropna()

In [454]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29 entries, 3 to 322
Data columns (total 16 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        29 non-null     int64
 1   Zone                              29 non-null     object
 2   State                             29 non-null     object
 3   City                              29 non-null     object
 4   Name                              29 non-null     object
 5   Type                              29 non-null     object
 6   Establishment Year                29 non-null     object
 7   time needed to visit in hrs       29 non-null     float64
 8   Google review rating              29 non-null     float64
 9   Entrance Fee in INR               29 non-null     int64
 10  Airport with 50km Radius          29 non-null     object
 11  Weekly Off                        29 non-null     object
 12  Significance                      29 non-null     object
 13  DSLR Allowed                      29 non-null     object
 14  Number of google review in lakhs  29 non-null     float64
 15  Best Time to visit                29 non-null     object
dtypes: float64(3), int64(2), object(11)
memory usage: 3.9+ KB

In [455]:
col = ['Type','Google review rating','Number of google review in lakhs','Entrance Fee in INR']
dfnew = df[col]
dfdummy = pd.get_dummies(dfnew,dtype=int)

In [456]:
x = dfdummy.drop(columns = ['Entrance Fee in INR'])
y = dfdummy['Entrance Fee in INR']

In [443]:
y

3        50
12       20
13       80
19       50
26     1149
27      500
32       25
42       30
44       50
70      200
73      350
78      500
109     100
124      30
131      25
135      30
181      50
183      50
194     150
219      10
223      20
263      20
282      10
290      30
302    1100
310      50
315    1500
318      50
322      10
Name: Entrance Fee in INR, dtype: int64

In [465]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.30,shuffle = True)

In [466]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x,y)
print(model.score(x_train,y_train))
print(model.score(x_test,y_test))

0.9506134862803978
0.9617647704219051

In [467]:
from sklearn.linear_model import Lasso
reg1 = Lasso(alpha= 50,max_iter=100,tol= 0.1)
reg1.fit(x_train,y_train)
print(reg1.score(x_train,y_train))
print(reg1.score(x_test,y_test))

0.4852897132942663
0.05372139840457302

In [468]:
from sklearn.linear_model import Ridge
reg2 = Ridge(alpha= 50,max_iter=100,tol= 0.1)
reg2.fit(x_train,y_train)
print(reg2.score(x_train,y_train))
print(reg2.score(x_test,y_test))

0.3933199377546086
0.03720732895366852